* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

nav a {
    font-family: 'play', sans-serif;
    text-decoration: none;
    color: #fff !important;
}

header {
    background-image: url('../images/head.webp');
}

.social-wrapper {
    position: relative;
}

.social-wrapper::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    left: 0px;
    top: 4px;
    background-color: rgb(255 255 255 / 20%);
}

.social-wrapper>a {
    margin-right: 18px;
    font-size: 15px;
}