* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

a:active {
    background-color: transparent;
}

nav a {
    font-family: 'play', sans-serif;
    text-decoration: none;
    color: #fff !important;
}

header {
    background-image: url(../images/head.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 684px;
}

.full-nav>li>a {
    position: relative;
}

.full-nav>li>a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #00bfe7;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.3s;
}

.full-nav>li>a:hover::after {
    transform: scale(1);
}

.nav-drop:hover .drop1 {
    transform: translateY(0);
    z-index: 1000;
    opacity: 1;
}

.dropdown-menu {
    display: block;
    transform: translateY(40px);
    z-index: -1;
    transition: all 250ms ease-out;
    opacity: 0;
    border-radius: 0;
    min-width: 8rem;
}

.drop1 a {
    color: #000 !important;
}

.social-wrapper {
    position: relative;
}

.social-wrapper::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    left: 0px;
    top: 4px;
    background-color: rgb(255 255 255 / 20%);
}

.social-wrapper>a {
    margin-right: 18px;
    font-size: 15px;
}

.small-nav {
    background-color: #4C4C4C;
}

.small-nav ul {
    list-style: none;
}

.small-nav ul li a {
    border-radius: 6px;
}

.small-nav a {
color: #fff;
text-decoration: none;
}

.small-menu a:active {
    background-color: #ccc;
}

.small-menu a:hover {
color: #222;
background-color: #ccc;
}

.small-nav-menu {
    background: #222222;
    font-size: 14px;
}

.small-nav-line {
    background-color: #fff;
    display: inline-block;
    width: 17px;
    height: 1px;
    box-shadow: 0px -1px 0 0px white, 0px -6px 0 0px white, 0px -11px 0 0px white;
}

.small-menu {
    font-size: 14px !important;
}

.small-dropdown {
    display: none;
}

.right-rotate {
    transform: rotate(90deg);
}

/* carousel */
.carousel-inner.text-white {
    padding-top: 107px;
}

.carousel-item p {
    font-weight: 400;
    font-size: 0.94rem;
    letter-spacing: 2px;
}

.carousel-item h1 {
    font-family: 'play', sans-serif;
    font-weight: 700;
}

.carousel-item a {
    font-family: 'play', sans-serif;
    font-weight: 700;
    font-size: 0.94rem;
    color: #fff;
    text-decoration: none;
    line-height: 9;
    letter-spacing: 2px;
    position: relative;
}

.see-more::after, .see-more::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    z-index: 1;
    transition: all 700ms;
}

.see-more::after {
    top: 0;
    left: 0;
    border-left: 2px solid #00bfe7;
    border-top: 2px solid #00bfe7;
}

.see-more::before {
    bottom: 0;
    right: 0;
    border-right: 2px solid #00bfe7;;
    border-bottom: 2px solid #00bfe7;;
}

.see-more:hover::after, .see-more:hover::before {
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    position: absolute;
    left: 0;
    bottom: -75px;
    right: unset;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    list-style: none;
}

.carousel-indicators [data-bs-target] {
    box-sizing: border-box;
    flex: 0 1 auto;
    width: 25px;
    height: auto;
    text-indent: 1px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    position: relative;
}

.carousel-indicators [data-bs-target]::before {
    position: absolute;
    content: "";
    display: block;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 1px;
    background: white;
}

.animate__animated.animate__slideInUp {
    --animate-duration: 0.7s;
  }